exportPattern("^[[:alpha:]]+")
import(RcppParallel)
import(RcppArmadillo)
import(ggplot2)
import(gridExtra)
import(R.matlab)
import(base64enc)
import(nloptr)
importFrom(foreach, foreach)
importFrom(doParallel,registerDoParallel)
importFrom(parallel,makeCluster)
importFrom(parallel,detectCores)
importFrom(foreach, "%dopar%")
importFrom(foreach, "%do%")
importFrom(foreach, "%:%")
importFrom(DRIP,stepEdge)
importFrom(DRIP,dKQ)
useDynLib(ORTdenoise, .registration = TRUE)

